<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>die1_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{45,55}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die1_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,61},{45,55}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die1_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,2},{45,55}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk1_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,61},{45,55}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk1_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,2},{44,54}}</string>
        <key>offset</key>
        <string>{0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,54}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk20_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,60},{42,53}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk21_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,60},{51,47}}</string>
        <key>offset</key>
        <string>{2,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,47}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die20_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,2},{44,51}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die20_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,2},{44,51}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die20_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,57},{44,51}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk20_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,2},{44,51}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die21_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,57},{50,42}}</string>
        <key>offset</key>
        <string>{2.5,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,42}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die21_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,57},{50,42}}</string>
        <key>offset</key>
        <string>{2.5,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,42}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk21_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,2},{50,42}}</string>
        <key>offset</key>
        <string>{2.5,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,42}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die21_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,56},{50,40}}</string>
        <key>offset</key>
        <string>{2.5,-4.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,40}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die17_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,2},{33,50}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die17_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,2},{33,50}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die17_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,56},{33,50}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk17_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,2},{33,50}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk17_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,56},{34,48}}</string>
        <key>offset</key>
        <string>{0.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,48}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player.png</string>
      <key>textureFileName</key>
      <string>player.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>