<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>walk37_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{73,100}}</string>
        <key>offset</key>
        <string>{5.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>walk37_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,2},{73,100}}</string>
        <key>offset</key>
        <string>{5.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,2},{66,100}}</string>
        <key>offset</key>
        <string>{6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,2},{65,100}}</string>
        <key>offset</key>
        <string>{6.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,2},{64,100}}</string>
        <key>offset</key>
        <string>{7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>walk86_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,2},{46,55}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk11_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,61},{41,55}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die86_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,61},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die86_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,2},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk86_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,60},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,2},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,59},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,2},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk13_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,59},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk13_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,2},{51,53}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die86_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,59},{53,50}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,2},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,59},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,2},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,59},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die47_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,2},{52,48}}</string>
        <key>offset</key>
        <string>{0.5,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,48}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die47_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,58},{52,48}}</string>
        <key>offset</key>
        <string>{0.5,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,48}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die47_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,2},{51,47}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,47}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk47_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,57},{51,42}}</string>
        <key>offset</key>
        <string>{2,-6.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,42}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk47_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,2},{50,48}}</string>
        <key>offset</key>
        <string>{1.5,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,48}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk83_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,56},{47,50}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die83_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,2},{46,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die83_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{931,56},{46,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die83_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,2},{46,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk83_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{981,56},{46,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die84_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,2},{46,48}}</string>
        <key>offset</key>
        <string>{0.5,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,48}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die84_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1031,54},{46,48}}</string>
        <key>offset</key>
        <string>{0.5,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,48}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk84_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1039,2},{46,48}}</string>
        <key>offset</key>
        <string>{0.5,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,48}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk84_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1081,54},{46,48}}</string>
        <key>offset</key>
        <string>{0.5,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,48}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die84_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1089,2},{46,47}}</string>
        <key>offset</key>
        <string>{0.5,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,47}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player.png</string>
      <key>textureFileName</key>
      <string>player.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>