<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>walk37_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{73,100}}</string>
        <key>offset</key>
        <string>{5.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>walk37_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,2},{73,100}}</string>
        <key>offset</key>
        <string>{5.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,2},{66,100}}</string>
        <key>offset</key>
        <string>{6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,2},{65,100}}</string>
        <key>offset</key>
        <string>{6.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,2},{64,100}}</string>
        <key>offset</key>
        <string>{7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>walk100_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,2},{53,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk45_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,61},{52,55}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die100_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,61},{51,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die100_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,2},{51,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die100_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,61},{51,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die45_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,2},{51,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die45_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,61},{51,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die45_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,2},{51,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk100_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,61},{51,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk45_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,2},{51,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk119_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,61},{46,55}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk86_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,2},{46,55}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk11_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,61},{41,55}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die119_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,2},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die119_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,60},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die119_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,2},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die86_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,60},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die86_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,2},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk119_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,60},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk86_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,2},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,60},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,2},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,59},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk13_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{962,2},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk13_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,59},{51,53}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die86_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,2},{53,50}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1063,59},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1072,2},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1113,59},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1122,2},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk87_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1163,59},{46,53}}</string>
        <key>offset</key>
        <string>{-2.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die47_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1172,2},{52,48}}</string>
        <key>offset</key>
        <string>{0.5,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,48}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die47_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1213,58},{52,48}}</string>
        <key>offset</key>
        <string>{0.5,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,48}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die87_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1224,2},{46,52}}</string>
        <key>offset</key>
        <string>{-1.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,52}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die87_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1265,58},{46,52}}</string>
        <key>offset</key>
        <string>{-1.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,52}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die87_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1274,2},{46,52}}</string>
        <key>offset</key>
        <string>{-1.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,52}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk87_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1315,58},{46,52}}</string>
        <key>offset</key>
        <string>{-1.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,52}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die47_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1324,2},{51,47}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,47}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk47_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1365,57},{51,42}}</string>
        <key>offset</key>
        <string>{2,-6.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,42}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk47_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1375,2},{50,48}}</string>
        <key>offset</key>
        <string>{1.5,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,48}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player.png</string>
      <key>textureFileName</key>
      <string>player.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>