<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bottle_fire_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,3},{95,95}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,95}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>bottle_fire_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,3},{95,95}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,95}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>bottle_fire_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,104},{95,95}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,95}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>bottle_fire_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,104},{95,95}}</string>
        <key>offset</key>
        <string>{-1,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,95}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>bottle_fire_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,104},{95,95}}</string>
        <key>offset</key>
        <string>{-2,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,95}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>bottle_fire_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{95,95}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,95}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>bottle_fire.png</string>
      <key>textureFileName</key>
      <string>bottle_fire.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>