<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>broken_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,3},{102,115}}</string>
        <key>offset</key>
        <string>{-2,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,115}}</string>
        <key>sourceSize</key>
        <string>{102,115}</string>
      </dict>
      <key>broken_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,134},{122,125}}</string>
        <key>offset</key>
        <string>{-2,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,125}}</string>
        <key>sourceSize</key>
        <string>{122,125}</string>
      </dict>
      <key>broken_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,3},{122,125}}</string>
        <key>offset</key>
        <string>{-1,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,125}}</string>
        <key>sourceSize</key>
        <string>{122,125}</string>
      </dict>
      <key>broken_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{122,125}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,125}}</string>
        <key>sourceSize</key>
        <string>{122,125}</string>
      </dict>
      <key>broken_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,134},{122,125}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,125}}</string>
        <key>sourceSize</key>
        <string>{122,125}</string>
      </dict>
      <key>idle.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,124},{102,115}}</string>
        <key>offset</key>
        <string>{-2,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,115}}</string>
        <key>sourceSize</key>
        <string>{102,115}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>box.png</string>
      <key>textureFileName</key>
      <string>box.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>