<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fire_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,309},{96,96}}</string>
        <key>offset</key>
        <string>{-3,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>fire_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,105},{96,96}}</string>
        <key>offset</key>
        <string>{-2,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>fire_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,207},{96,96}}</string>
        <key>offset</key>
        <string>{-2,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>fire_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,309},{96,96}}</string>
        <key>offset</key>
        <string>{-2,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>fire_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,3},{96,96}}</string>
        <key>offset</key>
        <string>{-2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>fire_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,309},{96,96}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>fire_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,3},{96,96}}</string>
        <key>offset</key>
        <string>{-2,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>fire_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,3},{96,96}}</string>
        <key>offset</key>
        <string>{-2,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>fire_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,105},{96,96}}</string>
        <key>offset</key>
        <string>{-2,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>fire_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,105},{96,96}}</string>
        <key>offset</key>
        <string>{-3,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>fire_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,309},{96,96}}</string>
        <key>offset</key>
        <string>{-3,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>fire_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,105},{96,96}}</string>
        <key>offset</key>
        <string>{-3,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>fire_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{96,96}}</string>
        <key>offset</key>
        <string>{-2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>fire_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,207},{96,96}}</string>
        <key>offset</key>
        <string>{-2,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>fire_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,207},{96,96}}</string>
        <key>offset</key>
        <string>{-2,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>fire_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,207},{96,96}}</string>
        <key>offset</key>
        <string>{-2,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>fire.png</string>
      <key>textureFileName</key>
      <string>fire.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>