<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>huoqiu1_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,68},{90,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,59}}</string>
        <key>sourceSize</key>
        <string>{90,59}</string>
      </dict>
      <key>huoqiu1_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,199},{90,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,59}}</string>
        <key>sourceSize</key>
        <string>{90,59}</string>
      </dict>
      <key>huoqiu1_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{90,59}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,59}}</string>
        <key>sourceSize</key>
        <string>{90,59}</string>
      </dict>
      <key>huoqiu1_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,134},{90,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,59}}</string>
        <key>sourceSize</key>
        <string>{90,59}</string>
      </dict>
      <key>huoqiu1_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,69},{90,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,59}}</string>
        <key>sourceSize</key>
        <string>{90,59}</string>
      </dict>
      <key>huoqiu1_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,199},{90,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,59}}</string>
        <key>sourceSize</key>
        <string>{90,59}</string>
      </dict>
      <key>huoqiu2_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,3},{90,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,60}}</string>
        <key>sourceSize</key>
        <string>{90,60}</string>
      </dict>
      <key>huoqiu2_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,3},{90,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,60}}</string>
        <key>sourceSize</key>
        <string>{90,60}</string>
      </dict>
      <key>huoqiu2_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,135},{90,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,60}}</string>
        <key>sourceSize</key>
        <string>{90,60}</string>
      </dict>
      <key>huoqiu2_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,69},{90,60}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,60}}</string>
        <key>sourceSize</key>
        <string>{90,60}</string>
      </dict>
      <key>huoqiu2_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,133},{90,60}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,60}}</string>
        <key>sourceSize</key>
        <string>{90,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>huoqiu.png</string>
      <key>textureFileName</key>
      <string>huoqiu.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>