<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>circle1.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,99},{90,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,90}}</string>
        <key>sourceSize</key>
        <string>{90,90}</string>
      </dict>
      <key>circle2.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,3},{90,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,90}}</string>
        <key>sourceSize</key>
        <string>{90,90}</string>
      </dict>
      <key>circle_max1.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,3},{112,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,112}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>circle_max2.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,121},{112,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,112}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>jingling_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,121},{68,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,88}}</string>
        <key>sourceSize</key>
        <string>{68,88}</string>
      </dict>
      <key>jingling_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{79,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,112}}</string>
        <key>sourceSize</key>
        <string>{79,112}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>jingling.png</string>
      <key>textureFileName</key>
      <string>jingling.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>