<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Knife_light_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,3},{100,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,150}}</string>
        <key>sourceSize</key>
        <string>{100,150}</string>
      </dict>
      <key>Knife_light_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,315},{100,150}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,150}}</string>
        <key>sourceSize</key>
        <string>{100,150}</string>
      </dict>
      <key>Knife_light_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,315},{100,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,150}}</string>
        <key>sourceSize</key>
        <string>{100,150}</string>
      </dict>
      <key>Knife_light_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,315},{100,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,150}}</string>
        <key>sourceSize</key>
        <string>{100,150}</string>
      </dict>
      <key>Knife_light_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,159},{100,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,150}}</string>
        <key>sourceSize</key>
        <string>{100,150}</string>
      </dict>
      <key>Knife_light_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,315},{100,150}}</string>
        <key>offset</key>
        <string>{0,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,150}}</string>
        <key>sourceSize</key>
        <string>{100,150}</string>
      </dict>
      <key>Knife_light_max_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{100,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,150}}</string>
        <key>sourceSize</key>
        <string>{100,150}</string>
      </dict>
      <key>Knife_light_max_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,3},{100,150}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,150}}</string>
        <key>sourceSize</key>
        <string>{100,150}</string>
      </dict>
      <key>Knife_light_max_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,159},{100,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,150}}</string>
        <key>sourceSize</key>
        <string>{100,150}</string>
      </dict>
      <key>Knife_light_max_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,159},{100,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,150}}</string>
        <key>sourceSize</key>
        <string>{100,150}</string>
      </dict>
      <key>Knife_light_max_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,3},{100,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,150}}</string>
        <key>sourceSize</key>
        <string>{100,150}</string>
      </dict>
      <key>Knife_light_max_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,159},{100,150}}</string>
        <key>offset</key>
        <string>{0,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,150}}</string>
        <key>sourceSize</key>
        <string>{100,150}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>Knife_light.png</string>
      <key>textureFileName</key>
      <string>Knife_light.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>