<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>laser1.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,3},{66,66}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>laser2.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,75},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>laser_max1.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,271},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>laser_max2.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,145},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>spark_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,3},{128,128}}</string>
        <key>offset</key>
        <string>{12,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>spark_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,137},{128,128}}</string>
        <key>offset</key>
        <string>{17,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>spark_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,3},{128,128}}</string>
        <key>offset</key>
        <string>{-5,15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>spark_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,271},{128,128}}</string>
        <key>offset</key>
        <string>{-4,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>spark_max_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,137},{128,128}}</string>
        <key>offset</key>
        <string>{12,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>spark_max_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,271},{128,128}}</string>
        <key>offset</key>
        <string>{16,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>spark_max_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{128,128}}</string>
        <key>offset</key>
        <string>{-5,14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>spark_max_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,137},{128,128}}</string>
        <key>offset</key>
        <string>{-3,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>laser.png</string>
      <key>textureFileName</key>
      <string>laser.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>