<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>rocket_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,175},{120,80}}</string>
        <key>offset</key>
        <string>{7,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>rocket_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,89},{120,80}}</string>
        <key>offset</key>
        <string>{7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>rocket_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,261},{120,80}}</string>
        <key>offset</key>
        <string>{7,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>rocket_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,261},{120,80}}</string>
        <key>offset</key>
        <string>{7,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>rocket_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,175},{120,80}}</string>
        <key>offset</key>
        <string>{7,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>rocket_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{120,80}}</string>
        <key>offset</key>
        <string>{7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>rocketet_max_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,261},{120,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>rocketet_max_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,175},{120,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>rocketet_max_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,3},{120,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>rocketet_max_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,89},{120,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>rocketet_max_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,89},{120,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>rocketet_max_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,3},{120,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>rocket.png</string>
      <key>textureFileName</key>
      <string>rocket.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>