<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>walk37_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{73,100}}</string>
        <key>offset</key>
        <string>{5.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>walk37_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,2},{73,100}}</string>
        <key>offset</key>
        <string>{5.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,2},{66,100}}</string>
        <key>offset</key>
        <string>{6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,2},{65,100}}</string>
        <key>offset</key>
        <string>{6.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,2},{64,100}}</string>
        <key>offset</key>
        <string>{7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die81_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,2},{52,55}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die81_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,61},{52,55}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk81_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,2},{52,55}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk81_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,61},{51,55}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die81_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,61},{50,55}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk10_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,2},{42,55}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk11_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,2},{41,55}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die41_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,61},{54,51}}</string>
        <key>offset</key>
        <string>{0.5,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die41_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,2},{54,51}}</string>
        <key>offset</key>
        <string>{0.5,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die41_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,60},{54,51}}</string>
        <key>offset</key>
        <string>{0.5,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk41_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{621,2},{54,51}}</string>
        <key>offset</key>
        <string>{0.5,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,60},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,2},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,59},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk13_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,2},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk13_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,59},{51,53}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,2},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,59},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,2},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,59},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die10_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,2},{41,53}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die10_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{905,59},{41,53}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die10_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{933,2},{41,53}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk10_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,59},{41,53}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die58_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{978,2},{47,52}}</string>
        <key>offset</key>
        <string>{2,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,52}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die58_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,58},{47,52}}</string>
        <key>offset</key>
        <string>{2,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,52}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die58_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1029,2},{47,52}}</string>
        <key>offset</key>
        <string>{2,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,52}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk58_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1046,58},{47,52}}</string>
        <key>offset</key>
        <string>{2,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,52}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk41_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,2},{49,50}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk58_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1097,56},{46,49}}</string>
        <key>offset</key>
        <string>{2.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,49}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player.png</string>
      <key>textureFileName</key>
      <string>player.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>