<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>walk37_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{73,100}}</string>
        <key>offset</key>
        <string>{5.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>walk37_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,2},{73,100}}</string>
        <key>offset</key>
        <string>{5.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,2},{66,100}}</string>
        <key>offset</key>
        <string>{6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,2},{65,100}}</string>
        <key>offset</key>
        <string>{6.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,2},{64,100}}</string>
        <key>offset</key>
        <string>{7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>walk6_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,2},{46,55}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk11_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,61},{41,55}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk90_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,61},{37,55}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die90_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,2},{35,55}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die90_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,61},{35,55}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk28_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,2},{44,54}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,54}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die90_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,60},{35,54}}</string>
        <key>offset</key>
        <string>{1,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,54}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,2},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,59},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,2},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk13_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,59},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk13_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,2},{51,53}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,59},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{667,2},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,59},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,2},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk90_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,59},{37,53}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die28_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,2},{42,52}}</string>
        <key>offset</key>
        <string>{-0.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,52}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die28_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,58},{42,52}}</string>
        <key>offset</key>
        <string>{-0.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,52}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk28_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,2},{42,52}}</string>
        <key>offset</key>
        <string>{-0.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,52}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die28_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,58},{37,52}}</string>
        <key>offset</key>
        <string>{2,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,52}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die44_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{859,2},{50,51}}</string>
        <key>offset</key>
        <string>{1.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die44_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,57},{50,51}}</string>
        <key>offset</key>
        <string>{1.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk44_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{913,2},{50,51}}</string>
        <key>offset</key>
        <string>{1.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die44_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{921,57},{49,51}}</string>
        <key>offset</key>
        <string>{1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die6_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,2},{48,51}}</string>
        <key>offset</key>
        <string>{0.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die6_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,57},{48,51}}</string>
        <key>offset</key>
        <string>{0.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die6_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1019,2},{48,51}}</string>
        <key>offset</key>
        <string>{0.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk6_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1026,57},{48,51}}</string>
        <key>offset</key>
        <string>{0.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk44_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1071,2},{50,45}}</string>
        <key>offset</key>
        <string>{2.5,-5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,45}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player.png</string>
      <key>textureFileName</key>
      <string>player.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>