<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skill_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1187,91},{104,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,82}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,201},{40,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,104}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_1001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{118,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,118}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_1002.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,109},{96,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,102}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_1003.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,121},{114,118}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,118}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_1004.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,117},{100,118}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,118}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_1005.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,111},{98,118}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,118}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_1006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,121},{118,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,118}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_1007.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,1},{118,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,114}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_1008.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,1},{118,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,116}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_1009.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,121},{114,118}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,118}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_101.png</key>
      <dict>
        <key>frame</key>
        <string>{{1233,175},{70,86}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,86}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_1010.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,1},{100,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,118}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_1011.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,1},{114,106}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,106}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_1012.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,121},{100,118}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,118}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_1013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1071,97},{82,114}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,114}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_1014.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,1},{108,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,108}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_1015.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,121},{112,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,118}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_1016.png</key>
      <dict>
        <key>frame</key>
        <string>{{1739,1},{96,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>skill_102.png</key>
      <dict>
        <key>frame</key>
        <string>{{1079,181},{62,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,78}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_103.png</key>
      <dict>
        <key>frame</key>
        <string>{{1415,163},{80,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,86}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_104.png</key>
      <dict>
        <key>frame</key>
        <string>{{1503,163},{72,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,90}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_105.png</key>
      <dict>
        <key>frame</key>
        <string>{{1159,181},{64,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,72}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_106.png</key>
      <dict>
        <key>frame</key>
        <string>{{1183,1},{100,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_107.png</key>
      <dict>
        <key>frame</key>
        <string>{{1483,81},{80,84}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,84}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_108.png</key>
      <dict>
        <key>frame</key>
        <string>{{1379,1},{94,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,78}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_109.png</key>
      <dict>
        <key>frame</key>
        <string>{{1685,151},{92,94}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,94}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1837,1},{90,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,94}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_110.png</key>
      <dict>
        <key>frame</key>
        <string>{{781,1},{100,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,106}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_111.png</key>
      <dict>
        <key>frame</key>
        <string>{{1569,79},{78,82}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,82}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_112.png</key>
      <dict>
        <key>frame</key>
        <string>{{1285,1},{88,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,92}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_113.png</key>
      <dict>
        <key>frame</key>
        <string>{{1475,1},{78,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,86}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_114.png</key>
      <dict>
        <key>frame</key>
        <string>{{1653,1},{68,84}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,84}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1649,79},{70,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,86}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1321,171},{72,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,92}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1391,81},{80,90}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,90}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,1},{104,118}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,118}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1779,99},{96,96}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,96}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>skill_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1595,163},{72,88}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,88}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1085,1},{94,96}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,96}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1293,91},{78,96}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,96}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,111},{108,102}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,102}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{883,1},{98,98}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,98}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,1},{94,100}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,100}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,101},{98,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,96}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
      <key>skill_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1563,1},{76,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,88}}</string>
        <key>sourceSize</key>
        <string>{118,118}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skillIcons.png</string>
      <key>textureFileName</key>
      <string>skillIcons.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>