<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>walk37_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{73,100}}</string>
        <key>offset</key>
        <string>{5.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>walk37_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,2},{73,100}}</string>
        <key>offset</key>
        <string>{5.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,2},{66,100}}</string>
        <key>offset</key>
        <string>{6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,2},{65,100}}</string>
        <key>offset</key>
        <string>{6.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,2},{64,100}}</string>
        <key>offset</key>
        <string>{7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>walk54_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,2},{51,55}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die38_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,61},{48,55}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die38_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,61},{48,55}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die38_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,2},{48,55}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk38_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,61},{48,55}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk11_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,2},{41,55}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,2},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,59},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,2},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk13_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,59},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk13_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,2},{51,53}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk46_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,59},{53,51}}</string>
        <key>offset</key>
        <string>{1,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die46_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,2},{50,53}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die46_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,59},{50,53}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk46_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,2},{50,53}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk53_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,59},{50,53}}</string>
        <key>offset</key>
        <string>{0.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die53_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,2},{49,53}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die53_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,59},{49,53}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die53_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,2},{49,53}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk53_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{847,59},{49,53}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,2},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,59},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{946,2},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,59},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die46_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{996,2},{50,52}}</string>
        <key>offset</key>
        <string>{2.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,52}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die54_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,58},{51,51}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die54_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,2},{51,51}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die54_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1055,57},{51,51}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk54_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1105,2},{51,51}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk38_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,57},{50,51}}</string>
        <key>offset</key>
        <string>{1.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player.png</string>
      <key>textureFileName</key>
      <string>player.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>