<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>decorate1.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,159},{46,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,54}}</string>
        <key>sourceSize</key>
        <string>{46,54}</string>
      </dict>
      <key>decorate2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{101,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,156}}</string>
        <key>sourceSize</key>
        <string>{101,156}</string>
      </dict>
      <key>decorate3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,159},{73,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,78}}</string>
        <key>sourceSize</key>
        <string>{73,78}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>plant33.png</string>
      <key>textureFileName</key>
      <string>plant33.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>