<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>decorate1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,345},{177,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{177,164}}</string>
        <key>sourceSize</key>
        <string>{177,164}</string>
      </dict>
      <key>decorate2.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,345},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>decorate3.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,345},{103,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,108}}</string>
        <key>sourceSize</key>
        <string>{103,108}</string>
      </dict>
      <key>decorate4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{400,342}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,342}}</string>
        <key>sourceSize</key>
        <string>{400,342}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>plant8.png</string>
      <key>textureFileName</key>
      <string>plant8.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>