<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>plant1.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,1},{65,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,96}}</string>
        <key>sourceSize</key>
        <string>{65,96}</string>
      </dict>
      <key>plant2.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,1},{65,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,96}}</string>
        <key>sourceSize</key>
        <string>{65,96}</string>
      </dict>
      <key>plant3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{105,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,100}}</string>
        <key>sourceSize</key>
        <string>{105,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>plant13.png</string>
      <key>textureFileName</key>
      <string>plant13.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>