<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>decorate1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,285},{166,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,118}}</string>
        <key>sourceSize</key>
        <string>{166,118}</string>
      </dict>
      <key>decorate2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{215,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{215,146}}</string>
        <key>sourceSize</key>
        <string>{215,146}</string>
      </dict>
      <key>decorate3.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,149},{67,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,103}}</string>
        <key>sourceSize</key>
        <string>{67,103}</string>
      </dict>
      <key>decorate4.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,359},{66,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,37}}</string>
        <key>sourceSize</key>
        <string>{66,37}</string>
      </dict>
      <key>decorate5.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,254},{67,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,103}}</string>
        <key>sourceSize</key>
        <string>{67,103}</string>
      </dict>
      <key>decorate6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,149},{173,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{173,134}}</string>
        <key>sourceSize</key>
        <string>{173,134}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>plant37.png</string>
      <key>textureFileName</key>
      <string>plant37.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>