<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>decorate3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{533,456}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{533,456}}</string>
        <key>sourceSize</key>
        <string>{533,456}</string>
      </dict>
      <key>decorate2.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,0},{210,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{210,147}}</string>
        <key>sourceSize</key>
        <string>{210,147}</string>
      </dict>
      <key>decorate5.png</key>
      <dict>
        <key>frame</key>
        <string>{{743,0},{208,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{208,188}}</string>
        <key>sourceSize</key>
        <string>{208,188}</string>
      </dict>
      <key>decorate6.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,147},{94,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,156}}</string>
        <key>sourceSize</key>
        <string>{94,156}</string>
      </dict>
      <key>decorate7.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,0},{128,109}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,109}}</string>
        <key>sourceSize</key>
        <string>{129,109}</string>
      </dict>
      <key>decorate1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1079,0},{109,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,87}}</string>
        <key>sourceSize</key>
        <string>{109,87}</string>
      </dict>
      <key>decorate4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1188,0},{74,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,101}}</string>
        <key>sourceSize</key>
        <string>{74,101}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>plant4.png</string>
      <key>textureFileName</key>
      <string>plant4.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>