<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>plant1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,85},{195,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{195,143}}</string>
        <key>sourceSize</key>
        <string>{195,143}</string>
      </dict>
      <key>plant2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,230},{159,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,144}}</string>
        <key>sourceSize</key>
        <string>{159,144}</string>
      </dict>
      <key>plant3.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,1},{88,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,82}}</string>
        <key>sourceSize</key>
        <string>{88,82}</string>
      </dict>
      <key>plant4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{69,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,87}}</string>
        <key>sourceSize</key>
        <string>{69,87}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>plant14.png</string>
      <key>textureFileName</key>
      <string>plant14.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>