<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>decorate1.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,141},{134,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,102}}</string>
        <key>sourceSize</key>
        <string>{134,102}</string>
      </dict>
      <key>decorate2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,161},{94,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,80}}</string>
        <key>sourceSize</key>
        <string>{94,80}</string>
      </dict>
      <key>decorate3.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,1},{107,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,138}}</string>
        <key>sourceSize</key>
        <string>{107,138}</string>
      </dict>
      <key>decorate4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{207,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,158}}</string>
        <key>sourceSize</key>
        <string>{207,158}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>plant31.png</string>
      <key>textureFileName</key>
      <string>plant31.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>