<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>decorate2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{124,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,74}}</string>
        <key>sourceSize</key>
        <string>{124,74}</string>
      </dict>
      <key>decorate1.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,2},{107,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,66}}</string>
        <key>sourceSize</key>
        <string>{107,66}</string>
      </dict>
      <key>decorate4.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,2},{95,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,54}}</string>
        <key>sourceSize</key>
        <string>{95,54}</string>
      </dict>
      <key>decorate6.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,2},{65,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,30}}</string>
        <key>sourceSize</key>
        <string>{65,30}</string>
      </dict>
      <key>decorate5.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,2},{61,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,47}}</string>
        <key>sourceSize</key>
        <string>{61,47}</string>
      </dict>
      <key>decorate7.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,36},{58,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,22}}</string>
        <key>sourceSize</key>
        <string>{58,22}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>plant25.png</string>
      <key>textureFileName</key>
      <string>plant25.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>