<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>walk37_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{73,100}}</string>
        <key>offset</key>
        <string>{5.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>walk37_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,2},{73,100}}</string>
        <key>offset</key>
        <string>{5.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,2},{66,100}}</string>
        <key>offset</key>
        <string>{6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,2},{65,100}}</string>
        <key>offset</key>
        <string>{6.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die37_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,2},{64,100}}</string>
        <key>offset</key>
        <string>{7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>die59_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,2},{50,55}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die59_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,61},{50,55}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die59_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,2},{50,55}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk59_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,61},{50,55}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk119_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,2},{46,55}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk86_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,61},{46,55}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk11_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,2},{41,55}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die2_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,61},{54,53}}</string>
        <key>offset</key>
        <string>{0.5,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die2_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,2},{54,53}}</string>
        <key>offset</key>
        <string>{0.5,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die5_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,60},{53,54}}</string>
        <key>offset</key>
        <string>{1,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,54}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die5_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,2},{53,54}}</string>
        <key>offset</key>
        <string>{1,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,54}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die5_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,60},{53,54}}</string>
        <key>offset</key>
        <string>{1,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,54}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk5_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,2},{53,54}}</string>
        <key>offset</key>
        <string>{1,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,54}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk5_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,60},{52,54}}</string>
        <key>offset</key>
        <string>{-1.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,54}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die119_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,2},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die119_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,60},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die119_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{791,2},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die86_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,60},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die86_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,2},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk119_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,60},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk86_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,2},{54,50}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die2_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,60},{53,53}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk2_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{953,2},{53,53}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,59},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,2},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1023,59},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die61_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,2},{52,53}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk13_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1079,59},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk61_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1122,2},{53,52}}</string>
        <key>offset</key>
        <string>{-1,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,52}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die61_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1135,59},{51,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk13_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1178,2},{51,53}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk2_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1190,59},{51,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die86_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1233,2},{53,50}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,50}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1245,59},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1287,2},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die11_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1295,59},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1337,2},{46,53}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk61_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1345,59},{52,52}}</string>
        <key>offset</key>
        <string>{-1.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die61_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1387,2},{51,52}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,52}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk59_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1401,58},{50,51}}</string>
        <key>offset</key>
        <string>{1.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,51}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player.png</string>
      <key>textureFileName</key>
      <string>player.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>