<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>walk3_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{51,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,55},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,0},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die13_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,53},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk13_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,0},{52,53}}</string>
        <key>offset</key>
        <string>{1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk13_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,53},{51,53}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,53}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die3_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,0},{52,49}}</string>
        <key>offset</key>
        <string>{-0.5,-3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,49}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die3_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,52},{52,49}}</string>
        <key>offset</key>
        <string>{-0.5,-3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,49}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die3_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{52,49}}</string>
        <key>offset</key>
        <string>{-0.5,-3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,49}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk3_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,52},{52,49}}</string>
        <key>offset</key>
        <string>{-0.5,-3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,49}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk21_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,0},{51,47}}</string>
        <key>offset</key>
        <string>{2,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,47}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die21_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,51},{50,42}}</string>
        <key>offset</key>
        <string>{2.5,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,42}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die21_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,51},{50,42}}</string>
        <key>offset</key>
        <string>{2.5,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,42}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>walk21_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{50,42}}</string>
        <key>offset</key>
        <string>{2.5,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,42}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>die21_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,50},{50,40}}</string>
        <key>offset</key>
        <string>{2.5,-4.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,40}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player.png</string>
      <key>textureFileName</key>
      <string>player.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>